.director-view {
  // color: #0f6774;
  color: white;
  position: static;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.director-title {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 700;
}

.director-bio {
  padding-top: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.director-birth {
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.mt-4 {
  // color: #0f6774;
  color: white;
  text-align: center;
  font-weight: 600;
}
