.container {
  align-content: center;
}

.login-heading {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 4rem;
}

.login-form {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 0.95rem;
  color: white;
}

.login-button {
  font-size: 1.25rem;
  font-weight: 500;
  width: 25rem;
}

.register-button {
  color: #ffff00;
  font-size: 1.25rem;
  font-weight: 500;
  width: 25rem;
}
