.movie-view {
  color: #016979;
  position: static;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3.25rem;
}
.outterbox {
  // background: #f0ecde;
  background: rgb(216, 213, 205);
  opacity: 0.85;
  border: 2px solid #585441;
  border-radius: 25px;
  display: flex;
  max-width: 40rem;
  padding-top: 5rem;
  text-align: center;
  justify-content: center;
}

.movie-poster {
  // max-height: 34rem;
  // min-height: 27.5rem;
  width: 100%;
  height: 28rem;
  padding-bottom: 1.25rem;
}

.movie-title {
  font-size: 2rem;
  font-weight: 700;
}

.movie-description {
  font-size: 1.25rem;
  font-weight: 550;
}

.movie-genre,
.movie-director {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  font-weight: 650;
  padding-top: 1rem;
}

.genre-link {
  font-size: 1.35rem;
  font-weight: 550;
}

.director-link {
  font-size: 1.35rem;
  font-weight: 550;
}

.add-fav-button {
  color: #016979;
  font-size: 1.25rem;
  font-weight: 550;
}
