.genre-view {
  // color: #0f6774;
  color: white;
  position: static;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.genre-title {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 700;
}

.genre-description {
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  font-weight: 450;
}

.mt-4 {
  // color: #0f6774;
  color: white;
  text-align: center;
  font-size: 1.85rem;
  font-weight: 600;
}
