.profile-view {
  color: #016979;
  position: static;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3.25rem;
}

.profile-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.outterbox {
  // background: #f0ecde;
  background: rgb(216, 213, 205);
  opacity: 0.85;
  border: 2px solid #585441;
  border-radius: 25px;
  display: flex;
  max-width: 40rem;
  padding-top: 5rem;
  text-align: center;
  justify-content: center;
}

.userInfo {
  color: blue;
  font-size: 1.25rem;
  font-weight: 550;
}

.edit-button {
  width: 18rem;
  font-size: 1.15rem;
  font-weight: 500;
}

.back-button {
  width: 18rem;
  font-size: 1.15rem;
  font-weight: 500;
}

.delete-button {
  width: 18rem;
  font-size: 1.15rem;
  font-weight: 500;
}

.mt-4 {
  padding-top: 5rem;
}

.d-flex {
  justify-content: center;
}

.fav-movie {
  width: 20rem;
  height: 11rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.remove-fav {
  color: #016979;
  width: 18.75rem;
  font-size: 1rem;
  font-weight: 550;
}
