.userProfile {
  color: white;
  font-weight: 500;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.outterbox-left {
  // background: #f0ecde;
  background: rgb(216, 213, 205);
  opacity: 0.8;
  border: 2px solid #585441;
  border-radius: 15px;
  display: flex;
  max-width: 30rem;
  text-align: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #016979;
}

.userInfo {
  color: blue;
  font-size: 1.25rem;
  font-weight: 550;
}

.edit-button {
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.back-button {
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.delete-button {
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.fav-movie {
  width: 20rem;
  height: 11rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.remove-fav {
  color: #016979;
  width: 18.75rem;
  font-size: 1rem;
  font-weight: 550;
}
