.userProfile {
  color: white;
  font-weight: 500;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.userInfo {
  color: white;
}

.edit-button {
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.back-button {
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.delete-button {
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}

.remove-fav {
  color: #138293;
  width: 18rem;
  font-size: 1rem;
  font-weight: 500;
}
