.register-heading {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 5rem;
}

.registration-form {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 0.95rem;
  color: white;
}

.create-account-button {
  font-size: 1.25rem;
  font-weight: 500;
  width: 25rem;
}

.current-user {
  color: white;
  text-align: center;
  padding-top: 2rem;
  font-style: italic;
  font-size: 1rem;
  font-weight: 500;
}

.current-user-button {
  font-size: 1.25rem;
  font-weight: 500;
  width: 25rem;
}
